<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Earna - Consulting Business Template">

    <!-- ========== Page Title ========== -->
    <title>Edit profile</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="assets/img/logo.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/themify-icons.css" rel="stylesheet" />
    <link href="/assets/css/elegant-icons.css" rel="stylesheet" />
    <link href="/assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.css" rel="stylesheet" />
    <link href="/assets/css/bootsnav.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet" />
    <link href="/assets/css/tagify.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.min.js"></script>
    <!-- ========== End Stylesheet ========== -->

</head>

<body style="padding-top:140px">
    <header id="home">

        <div class="container box-nav">
            <div class="row">
                <!-- Start Navigation -->
                <nav class="navbar top-less navbar-default navbar-fixed dark bootsnav on no-full nav-box no-background" id="navbar">

                    <!-- Start Top Search -->
                    <div class="top-search">
                        <div class="container">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <!-- End Top Search -->

                    <div class="container nav-container">

                        <!-- Start Atribute Navigation -->
                        <div class="attr-nav">
                            <ul>
                                <li class="search"><a href="#"><i class="ti-search"></i></a></li>
                                <li class="side-menu">
                                    <a href="#">
                                        <span class="bar-1"></span>
                                        <span class="bar-2"></span>
                                        <span class="bar-3"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Atribute Navigation -->

                        <!-- Start Header Navigation -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                            <a class="navbar-brand" href="/">
                                <img src="../assets/img/logo.png" class="logo" alt="Logo">
                            </a>
                        </div>
                        <!-- End Header Navigation -->

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar-menu">
                            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                <li class="">
                                    <a href="/admin" class="dropdown-toggle active" data-toggle="dropdown">Appointments</a>
                                </li>
                                <li class="">
                                    <a href="/admin-experts" class="dropdown-toggle active" data-toggle="dropdown">Consultants</a>
                                </li>
                                <li class="">
                                    <a href="/admin-users" class="dropdown-toggle active" data-toggle="dropdown">Users</a>
                                </li>
                                <li class="">
                                    <a href="/settings" class="dropdown-toggle active" data-toggle="dropdown">Settings</a>
                                </li>
                                <li class="">
                                    <a href="/logout" class="dropdown-toggle active" data-toggle="dropdown">Logout</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>

                    <!-- Start Side Menu -->
                    <div class="side">
                        <a href="#" class="close-side"><i class="icon_close"></i></a>
                        <div class="widget">
                            <img style="width:80px; height:100px" src="/assets/img/logo.png" alt="Logo">
                            <p>
                                Arrived compass prepare an on as. Reasonable particular on my it in sympathize. Size now easy eat hand how. Unwilling he departure elsewhere dejection at. Heart large seems may purse means few blind.
                            </p>
                        </div>
                        <div class="widget address">
                            <div>
                                <ul>
                                    <li>
                                        <div class="content">
                                            <p>Address</p>
                                            <strong>California, TX 70240</strong>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="content">
                                            <p>Email</p>
                                            <strong>support@solvent.com</strong>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="content">
                                            <p>Contact</p>
                                            <strong>+44-20-7328-4499</strong>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget newsletter">
                            <h4 class="title">Get Subscribed!</h4>
                            <form action="#">
                                <div class="input-group stylish-input-group">
                                    <input type="email" placeholder="Enter your e-mail" class="form-control" name="email">
                                    <span class="input-group-addon">
                                <button type="submit">
                                    <i class="arrow_right"></i>
                                </button>  
                            </span>
                                </div>
                            </form>
                        </div>
                        <div class="widget social">
                            <ul class="link">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Side Menu -->
                </nav>
                <!-- End Navigation -->
            </div>
        </div>

    </header>

    <div class="mt-3">
        <div class="container">
            <div class="team-content-top">
                <form action="#" id="edit-profile" method="" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-5 left-info">
                            <div class="thumb">
                                <img src="/profile/<%= user.display_picture %>" alt="/profile/<%= user.display_picture %>">
                            </div>
                            <div class="form_container__form__input_field">
                                <label style="margin:0" for="display_picture">Change Your Profile Photo</label>
                                <input style="margin-top:-20px" type="file" name="display_picture" accept="image/*" id="display_picture">
                            </div>
                        </div>
                        <div class="col-lg-7 right-info">
                            <div class="d-flex flex-row justify-content-left align-items-center">
                                <span class="mr-2">Name: </span>
                                <input type="text" name="name" value="<%= user.name %>" placeholder="Enter your name" required>
                            </div>

                            <div class="d-flex flex-row justify-content-left align-items-center">
                                <span class="mr-2">DOB: </span>
                                <input type="date" name="dob" value="<%= user.dob.toISOString().substring(0,10) %>" placeholder="Enter your name" required>
                            </div>
                            <div class="d-flex flex-row justify-content-left align-items-center">
                                <span class="mr-2">Gender: </span>
                                <select data-selected="" required name="gender" id="gender" type="text">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select> </div>
                            <div class="d-flex flex-row justify-content-left align-items-center">
                                <span class="mr-2">Email: </span>
                                <input name="email" type="email" value="<%= user.email %>" />
                            </div>
                            <div class="d-flex flex-row justify-content-left align-items-center">
                                <span class="mr-2">Phone: </span>
                                <input name="phoneNumber" type="number" value="<%= user.phoneNumber %>" />
                            </div>

                            <div class="d-flex flex-row justify-content-left align-items-center"><span><i class="fas fa-clock"></i> </span>
                                <span class="mr-2">Experience: </span>
                                <input name="experience" type="number" value="<%= user.doctor.experience %>" /> Years</span>
                            </div>
                            <div class="d-flex flex-row justify-content-left align-items-center">
                                <span class="mr-2">Cateogry: </span>
                                <select value='<%=user.doctor.cateogry %>' required name="cateogry" id="cateogry">
                                        
                                    </select>
                            </div>
                            <div class="d-flex flex-row justify-content-left align-items-center">
                                <span class="mr-2">specialised in: </span>
                                <input name="specializations" value="<%= user.doctor.specializations %>" />
                            </div>
                            <div class="d-flex flex-row justify-content-left align-items-center">
                                <span class="mr-2">achievements: </span>
                                <input name="achievements" value="<%= user.doctor.achievements %>" />
                            </div>
                            <div class="d-flex flex-row justify-content-left align-items-center">
                                <span class="mr-2">Keywords: </span>
                                <input name="keywords" value="<%= user.doctor.keywords %>" />
                            </div>
                            <div class="d-flex flex-row justify-content-left align-items-center">
                                <span class="mr-2">Qualifications: </span>
                                <input name="qualifications" value="<%= user.doctor.qualifications %>" />
                            </div>
                            <div class="d-flex flex-row justify-content-left align-items-center">
                                <span class="mr-2">Awards: </span>
                                <input name="awards" value="<%= user.doctor.awards %>" />
                            </div>
                            <div class="d-flex flex-row justify-content-left align-items-center">
                                <span class="mr-2">Location: </span>
                                <input type="text" name="location" value="<%= user.location %>">
                            </div>
                            <div class="d-flex flex-row justify-content-left align-items-center">
                                <span class="mr-2">State: </span>
                                <input type="text" name="state" value="<%= user.state %>">
                            </div>
                            <div class="d-flex flex-row justify-content-left align-items-center">
                                <span class="mr-2">Country: </span>
                                <select name="country" id="country" type="text" class="form_container__form__gender">
                                    <option value="India">India</option>
                                    <option value="USA">USA</option>
                                    <option value="Other">Sri Lanka</option>
                                </select>
                            </div>
                            <div class="d-flex flex-row justify-content-left align-items-center">
                                <span class="mr-2">Description: </span> <textarea name="description" id="doctor_description" cols="30" rows="4" placeholder="Describe yourself" required><%= user.doctor.description %></textarea>
                            </div>
                            <div class="social">
                                <a href="/admin-experts" class="mt-3 mb-5 btn btn-gradient effect btn-sm">Go back</a>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <script src="../assets/js/jquery-3.6.0.min.js"></script>
            <script src="../assets/js/popper.min.js"></script>
            <script src="../assets/js/bootstrap.min.js"></script>
            <script src="../assets/js/jquery.appear.js"></script>
            <script src="../assets/js/jquery.easing.min.js"></script>
            <script src="../assets/js/jquery.magnific-popup.min.js"></script>
            <script src="../assets/js/modernizr.custom.13711.js"></script>
            <script src="../assets/js/owl.carousel.min.js"></script>
            <script src="../assets/js/wow.min.js"></script>
            <script src="../assets/js/progress-bar.min.js"></script>
            <script src="../assets/js/isotope.pkgd.min.js"></script>
            <script src="../assets/js/imagesloaded.pkgd.min.js"></script>
            <script src="../assets/js/count-to.js"></script>
            <script src="../assets/js/YTPlayer.min.js"></script>
            <script src="../assets/js/bootsnav.js"></script>
            <script src="../assets/js/main.js"></script>

            <script>
                const cateogry = document.querySelector('select[name="cateogry"]');

                function selectOptionFromBackend(optionsList, value) {
                    for (var i = 0; i < optionsList.options.length; i++) {
                        option = optionsList.options[i];
                        if (option.value == value) {
                            console.log(value);
                            option.selected = 'selected';
                        }
                    }
                }
                async function fillOptions() {
                    fetch('/getCateogries')
                        .then((res) => {
                            res.json()
                                .then((data) => {
                                    var optionsArray = data.categories;
                                    console.log('cateogries: ', data.categories);
                                    console.log('type: ', typeof optionsArray);
                                    console.log('first: ', optionsArray[0])
                                    console.log('length: ', optionsArray.length)
                                    for (let i = 0; i < optionsArray.length; i++) {
                                        var opt = document.createElement("option");
                                        opt.value = optionsArray[i];
                                        opt.innerHTML = optionsArray[i];
                                        document.getElementById('cateogry').appendChild(opt);
                                    }
                                }).then(() => {
                                    selectOptionFromBackend(cateogry, '<%= user.doctor.cateogry %>');

                                })
                        })
                }
                fillOptions();
                var specializationsInput = document.querySelector("input[name=specializations]");
                var specializationsTagify = new Tagify(specializationsInput);

                var keywordsInput = document.querySelector("input[name=keywords]");
                var keywordsTagify = new Tagify(keywordsInput);

                var qualificationsInput = document.querySelector("input[name=qualifications]");
                var qualificationsTagify = new Tagify(qualificationsInput);

                var awardsInput = document.querySelector("input[name=awards]");
                var awardsTagify = new Tagify(awardsInput);

                var achievementsInput = document.querySelector("input[name=achievements]");
                var achievementsTagify = new Tagify(achievementsInput);

                const gender = document.querySelector('select[name="gender"]');
                const country = document.querySelector('select[name="country"]');
                // const bloodGroup = document.querySelector('select[name="bloodGroup"]');
                const timeZone = document.querySelector('select[name="timeZone"]');


                selectOptionFromBackend(gender, '<%= user.gender %>');
                selectOptionFromBackend(country, '<%= user.country %>');
                // selectOptionFromBackend(bloodGroup, '<%= user.bloodGroup %>');
                selectOptionFromBackend(timeZone, '<%= user.timeZone %>');
            </script>
</body>

</html>