<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Earna - Consulting Business Template">

    <!-- ========== Page Title ========== -->
    <title>Bollify - Consulting Agency</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- ========== Start Stylesheet ========== -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/themify-icons.css" rel="stylesheet">
    <link href="/assets/css/elegant-icons.css" rel="stylesheet">
    <link href="/assets/css/flaticon-set.css" rel="stylesheet">
    <link href="/assets/css/magnific-popup.css" rel="stylesheet">
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="/assets/css/animate.css" rel="stylesheet">
    <link href="/assets/css/bootsnav.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">

    <!-- ========== End Stylesheet ========== -->
    <style>
        .checked {
            color: orange;
        }
        
        .vanish {
            opacity: 0
        }
    </style>

</head>


<body data-new-gr-c-s-check-loaded="14.1034.0" data-gr-ext-installed="">
    <div class="wrapper">

        <!-- Start Preloader 
        ============================================= -->

        <!-- End Preloader -->

        <!-- Start Header Top 
        ============================================= -->
        <!-- End Preloader -->

        <!-- Header 
        ============================================= -->
        <% if(typeof user=='undefined'|| !user ){ %>
            <header id="home">

                <div class="container box-nav">
                    <div class="row">
                        <!-- Start Navigation -->
                        <nav class="navbar top-less navbar-default navbar-fixed dark bootsnav on no-full nav-box no-background" id="navbar">

                            <!-- Start Top Search -->
                            <div class="top-search">
                                <div class="container">
                                    <div class="input-group d-flex flex-row">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <form action="/experts" method="POST">
                                            <input type="text" name="consultantType" class="form-control" placeholder="expert in...">
                                            <input type="text" name="location" class="form-control" placeholder="Location">
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </form> <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Top Search -->
                            <div class="container nav-container">

                                <!-- Start Atribute Navigation -->
                                <div class="attr-nav">
                                    <ul>
                                        <li class="search"><a href="#"><i class="ti-search"></i></a></li>
                                        <li class="side-menu">
                                            <a href="#" id="mofo">
                                                <span class="bar-1"></span>
                                                <span class="bar-2"></span>
                                                <span class="bar-3"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Atribute Navigation -->

                                <!-- Start Header Navigation -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                    <a class="navbar-brand" href="/">
                                        <img src="../assets/img/logo.png" class="logo" alt="Logo">
                                    </a>
                                </div>
                                <!-- End Header Navigation -->

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="navbar-menu">
                                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                        <li class="">
                                            <a href="/" class="dropdown-toggle active" data-toggle="dropdown">Home</a>
                                        </li>

                                        <li class="">
                                            <a href="/experts" class="dropdown-toggle" data-toggle="dropdown">Experts</a>
                                        </li>
                                        <li class="">
                                            <a href="/about" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
                                        </li>
                                        <li class="">
                                            <a href="/contact-us" class="dropdown-toggle" data-toggle="dropdown">Contact Us</a>
                                        </li>
                                        <li class="">
                                            <a href="/email-login" class="dropdown-toggle" data-toggle="dropdown">Login</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.navbar-collapse -->
                            </div>

                            <!-- Start Side Menu -->
                            <div class="side">
                                <a href="#" class="close-side"><i class="icon_close"></i></a>
                                <div class="widget">
                                    <img style="width:80px; height:100px" src="../assets/img/logo.png" alt="Logo">
                                    <p>
                                        Arrived compass prepare an on as. Reasonable particular on my it in sympathize. Size now easy eat hand how. Unwilling he departure elsewhere dejection at. Heart large seems may purse means few blind.
                                    </p>
                                </div>
                                <div class="widget address">
                                    <div>
                                        <ul>
                                            <li>
                                                <div class="content">
                                                    <p>Address</p>
                                                    <strong>California, TX 70240</strong>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="content">
                                                    <p>Email</p>
                                                    <strong>support@solvent.com</strong>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="content">
                                                    <p>Contact</p>
                                                    <strong>+44-20-7328-4499</strong>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="widget newsletter">
                                    <h4 class="title">Get Subscribed!</h4>
                                    <form action="#">
                                        <div class="input-group stylish-input-group">
                                            <input type="email" placeholder="Enter your e-mail" class="form-control" name="email">
                                            <span class="input-group-addon">
                                                    <button type="submit">
                                                        <i class="arrow_right"></i>
                                                    </button>  
                                                </span>
                                        </div>
                                    </form>
                                </div>
                                <div class="widget social">
                                    <ul class="link">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Side Menu -->
                        </nav>
                        <!-- End Navigation -->
                    </div>
                </div>

            </header>
            <% }else if(typeof user !== 'undefined' && user.role==='user'){ %>
                <header id="home">

                    <div class="container box-nav">
                        <div class="row">
                            <!-- Start Navigation -->
                            <nav class="navbar top-less navbar-default navbar-fixed dark bootsnav on no-full nav-box no-background" id="navbar">

                                <!-- Start Top Search -->
                                <div class="top-search">
                                    <div class="container">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            <form action="/experts" method="POST">
                                                <input type="text" name="consultantType" class="form-control" placeholder="expert in...">
                                                <input type="text" name="location" class="form-control" placeholder="Location">
                                                <button type="submit" class="btn btn-success">Submit</button>
                                            </form> <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Top Search -->

                                <div class="container nav-container">

                                    <!-- Start Atribute Navigation -->
                                    <div class="attr-nav">
                                        <ul>
                                            <li class="search"><a href="#"><i class="ti-search"></i></a></li>
                                            <li class="side-menu">
                                                <a href="#">
                                                    <span class="bar-1"></span>
                                                    <span class="bar-2"></span>
                                                    <span class="bar-3"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End Atribute Navigation -->

                                    <!-- Start Header Navigation -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <a class="navbar-brand" href="/">
                                            <img src="../assets/img/logo.png" class="logo" alt="Logo">
                                        </a>
                                    </div>
                                    <!-- End Header Navigation -->

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse" id="navbar-menu">
                                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                            <li class="">
                                                <a href="/" class="dropdown-toggle active" data-toggle="dropdown">Home</a>
                                            </li>
                                            <li class="">
                                                <a href="/experts" class="dropdown-toggle" data-toggle="dropdown">Experts</a>
                                            </li>
                                            <li class="">
                                                <a href="/about" class="dropdown-toggle" data-toggle="dropdown">About</a>
                                            </li>
                                            <li class="">
                                                <a href="/user-dashboard-appointments" class="dropdown-toggle" data-toggle="dropdown">My appointments</a>
                                            </li>
                                            <li class="">
                                                <a href="/settings" class="dropdown-toggle" data-toggle="dropdown">Settings</a>
                                            </li>
                                            <li class="">
                                                <a href="/contact-us" class="dropdown-toggle" data-toggle="dropdown">Contact Us</a>
                                            </li>
                                            <li class="">
                                                <a href="/user-profile" class="dropdown-toggle" data-toggle="dropdown">Profile</a>
                                            </li>
                                            <li class="">
                                                <a href="/logout" class="dropdown-toggle" data-toggle="dropdown">Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.navbar-collapse -->
                                </div>

                                <!-- Start Side Menu -->
                                <div class="side">
                                    <a href="#" class="close-side"><i class="icon_close"></i></a>
                                    <div class="widget">
                                        <img style="width:80px; height:100px" src="../assets/img/logo.png" alt="Logo">
                                        <p>
                                            Arrived compass prepare an on as. Reasonable particular on my it in sympathize. Size now easy eat hand how. Unwilling he departure elsewhere dejection at. Heart large seems may purse means few blind.
                                        </p>
                                    </div>
                                    <div class="widget address">
                                        <div>
                                            <ul>
                                                <li>
                                                    <div class="content">
                                                        <p>Address</p>
                                                        <strong>California, TX 70240</strong>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="content">
                                                        <p>Email</p>
                                                        <strong>support@solvent.com</strong>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="content">
                                                        <p>Contact</p>
                                                        <strong>+44-20-7328-4499</strong>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="widget newsletter">
                                        <h4 class="title">Get Subscribed!</h4>
                                        <form action="#">
                                            <div class="input-group stylish-input-group">
                                                <input type="email" placeholder="Enter your e-mail" class="form-control" name="email">
                                                <span class="input-group-addon">
                                                    <button type="submit">
                                                        <i class="arrow_right"></i>
                                                    </button>  
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget social">
                                        <ul class="link">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Side Menu -->
                            </nav>
                            <!-- End Navigation -->
                        </div>
                    </div>

                </header>
                <% }else if(typeof user !=='undefined' && user.role==='doctor'){ %>
                    <header id="home">

                        <div class="container box-nav">
                            <div class="row">
                                <!-- Start Navigation -->
                                <nav class="navbar top-less navbar-default navbar-fixed dark bootsnav on no-full nav-box no-background" id="navbar">

                                    <!-- Start Top Search -->
                                    <div class="top-search">
                                        <div class="container">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                <form action="/experts" method="POST">
                                                    <input type="text" name="consultantType" class="form-control" placeholder="expert in...">
                                                    <input type="text" name="location" class="form-control" placeholder="Location">
                                                    <button type="submit" class="btn btn-success">Submit</button>
                                                </form> <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Top Search -->

                                    <div class="container nav-container">

                                        <!-- Start Atribute Navigation -->
                                        <div class="attr-nav">
                                            <ul>
                                                <li class="search"><a href="#"><i class="ti-search"></i></a></li>
                                                <li class="side-menu">
                                                    <a href="#">
                                                        <span class="bar-1"></span>
                                                        <span class="bar-2"></span>
                                                        <span class="bar-3"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- End Atribute Navigation -->

                                        <!-- Start Header Navigation -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                            <a class="navbar-brand" href="/">
                                                <img src="../assets/img/logo.png" class="logo" alt="Logo">
                                            </a>
                                        </div>
                                        <!-- End Header Navigation -->

                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse" id="navbar-menu">
                                            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                                <li class="">
                                                    <a href="/edit-profile-expert" class="dropdown-toggle" data-toggle="dropdown">Profile</a>
                                                </li>
                                                <li class="">
                                                    <a href="/experts" class="dropdown-toggle" data-toggle="dropdown">Experts</a>
                                                </li>
                                                <li class="">
                                                    <a href="/expert-dashboard" class="dropdown-toggle" data-toggle="dropdown">Appointments</a>
                                                </li>
                                                <li class="">
                                                    <a href="/schedule-appointment" class="dropdown-toggle" data-toggle="dropdown">Schedule appointments</a>
                                                </li>
                                                <li class="">
                                                    <a href="/settings" class="dropdown-toggle" data-toggle="dropdown">Settings</a>
                                                </li>
                                                <li class="">
                                                    <a href="/contact-us" class="dropdown-toggle" data-toggle="dropdown">Contact Us</a>
                                                </li>
                                                <li class="">
                                                    <a href="/logout" class="dropdown-toggle" data-toggle="dropdown">Logout</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- /.navbar-collapse -->
                                    </div>

                                    <!-- Start Side Menu -->
                                    <div class="side">
                                        <a href="#" class="close-side"><i class="icon_close"></i></a>
                                        <div class="widget">
                                            <img style="width:80px; height:100px" src="../assets/img/logo.png" alt="Logo">
                                            <p>
                                                Arrived compass prepare an on as. Reasonable particular on my it in sympathize. Size now easy eat hand how. Unwilling he departure elsewhere dejection at. Heart large seems may purse means few blind.
                                            </p>
                                        </div>
                                        <div class="widget address">
                                            <div>
                                                <ul>
                                                    <li>
                                                        <div class="content">
                                                            <p>Address</p>
                                                            <strong>California, TX 70240</strong>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="content">
                                                            <p>Email</p>
                                                            <strong>support@solvent.com</strong>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="content">
                                                            <p>Contact</p>
                                                            <strong>+44-20-7328-4499</strong>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="widget newsletter">
                                            <h4 class="title">Get Subscribed!</h4>
                                            <form action="#">
                                                <div class="input-group stylish-input-group">
                                                    <input type="email" placeholder="Enter your e-mail" class="form-control" name="email">
                                                    <span class="input-group-addon">
                                                    <button type="submit">
                                                        <i class="arrow_right"></i>
                                                    </button>  
                                                </span>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="widget social">
                                            <ul class="link">
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End Side Menu -->
                                </nav>
                                <!-- End Navigation -->
                            </div>
                        </div>

                    </header>
                    <% }else if(typeof user !=='undefined' && user.role==='admin'){%>
                        <header id="home">

                            <div class="container box-nav">
                                <div class="row">
                                    <!-- Start Navigation -->
                                    <nav class="navbar top-less navbar-default navbar-fixed dark bootsnav on no-full nav-box no-background" id="navbar">

                                        <!-- Start Top Search -->
                                        <div class="top-search">
                                            <div class="container">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                    <input type="text" class="form-control" placeholder="Search">
                                                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Top Search -->

                                        <div class="container nav-container">

                                            <!-- Start Atribute Navigation -->
                                            <div class="attr-nav">
                                                <ul>
                                                    <li class="search"><a href="#"><i class="ti-search"></i></a></li>
                                                    <li class="side-menu">
                                                        <a href="#">
                                                            <span class="bar-1"></span>
                                                            <span class="bar-2"></span>
                                                            <span class="bar-3"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- End Atribute Navigation -->

                                            <!-- Start Header Navigation -->
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                                <i class="fa fa-bars"></i>
                                            </button>
                                                <a class="navbar-brand" href="/">
                                                    <img src="../assets/img/logo.png" class="logo" alt="Logo">
                                                </a>
                                            </div>
                                            <!-- End Header Navigation -->

                                            <!-- Collect the nav links, forms, and other content for toggling -->
                                            <div class="collapse navbar-collapse" id="navbar-menu">
                                                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                                    <li class="">
                                                        <a href="/admin" class="dropdown-toggle active" data-toggle="dropdown">Appointments</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="/admin-experts" class="dropdown-toggle active" data-toggle="dropdown">Consultants</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="/admin-users" class="dropdown-toggle active" data-toggle="dropdown">Users</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="/addCateogry" class="dropdown-toggle active" data-toggle="dropdown">Cateogries</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="/settings" class="dropdown-toggle active" data-toggle="dropdown">Settings</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="/logout" class="dropdown-toggle active" data-toggle="dropdown">Logout</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- /.navbar-collapse -->
                                        </div>

                                        <!-- Start Side Menu -->
                                        <div class="side">
                                            <a href="#" class="close-side"><i class="icon_close"></i></a>
                                            <div class="widget">
                                                <img style="width:80px; height:100px" src="../assets/img/logo.png" alt="Logo">
                                                <p>
                                                    Arrived compass prepare an on as. Reasonable particular on my it in sympathize. Size now easy eat hand how. Unwilling he departure elsewhere dejection at. Heart large seems may purse means few blind.
                                                </p>
                                            </div>
                                            <div class="widget address">
                                                <div>
                                                    <ul>
                                                        <li>
                                                            <div class="content">
                                                                <p>Address</p>
                                                                <strong>California, TX 70240</strong>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="content">
                                                                <p>Email</p>
                                                                <strong>support@solvent.com</strong>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="content">
                                                                <p>Contact</p>
                                                                <strong>+44-20-7328-4499</strong>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="widget newsletter">
                                                <h4 class="title">Get Subscribed!</h4>
                                                <form action="#">
                                                    <div class="input-group stylish-input-group">
                                                        <input type="email" placeholder="Enter your e-mail" class="form-control" name="email">
                                                        <span class="input-group-addon">
                                                        <button type="submit">
                                                            <i class="arrow_right"></i>
                                                        </button>  
                                                    </span>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="widget social">
                                                <ul class="link">
                                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- End Side Menu -->
                                    </nav>
                                    <!-- End Navigation -->
                                </div>
                            </div>

                        </header>
                        <% } %>

                            <!-- Start Breadcrumb 
        ============================================= -->
                            <div class="breadcrumb-area text-center shadow dark text-light bg-cover" style="background-image: url(/assets/img/banner/4.jpg);">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-8 offset-lg-2">
                                            <h1>our Experts</h1>
                                            <ul class="breadcrumb">
                                                <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                                                <li class="active">Experts</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Breadcrumb -->

                            <!-- Start Blog
        ============================================= -->
                            <div class="blog-area single full-blog right-sidebar full-blog detail-padding">
                                <div class="container">
                                    <div class="blog-items">
                                        <div class="row">
                                            <!-- Start Sidebar -->
                                            <div class="sidebar wow fadeInLeft col-lg-3 col-md-12" style="visibility: visible; animation-name: fadeInLeft;">
                                                <aside>
                                                    <div class="sidebar-item recent-post">
                                                        <div class="title">
                                                            <h4>Short Consultant</h4>
                                                        </div>
                                                        <div class="sidebar-info">
                                                            <form action="/experts" method="POST" id="filter">
                                                                <select name="sort" onchange='filter()' id="cars" class="form-control">
                                                                    <option value="dontSort">All</option>
                                                                    <option value="feeLowToHigh">Fee Low To High</option>
                                                                    <option value="feeHighToLow">Fee High To Low</option>
                                                                    <option value="experienceHighToLow">Experienced</option>
                                                                  </select>
                                                                <input type="hidden" name="consultantType" value="<%= typeof expert!=='undefined' && expert?expert:'' %>">
                                                                <input type="hidden" name="location" value="<%= typeof location!=='undefined' && location?location:'' %>">
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <div class="sidebar-item category">
                                                        <div class="title">
                                                            <h4>Categories</h4>
                                                        </div>
                                                        <div class="sidebar-info">
                                                            <ul>
                                                                <%function shuffle(array) {
                                                                    let currentIndex = array.length,  randomIndex;
                                                                  
                                                                    // While there remain elements to shuffle...
                                                                    while (currentIndex != 0) {
                                                                  
                                                                      // Pick a remaining element...
                                                                      randomIndex = Math.floor(Math.random() * currentIndex);
                                                                      currentIndex--;
                                                                  
                                                                      // And swap it with the current element.
                                                                      [array[currentIndex], array[randomIndex]] = [
                                                                        array[randomIndex], array[currentIndex]];
                                                                    }
                                                                  
                                                                    return array;
                                                                  }
                                                                %>
                                                                    <%shuffle(cateogries).forEach((cateogry,index)=>{%>
                                                                        <li class="<%= index>3?'d-none':'' %> cateogryItem" id="cateogryItem<%=index%>">
                                                                            <a class="d-flex justify-content-start"><input oninput='takeMeToCateogry(this)' data-cateogry="<%=cateogry %>" type="checkbox" class="mr-1 checkbox-class">
                                                                            <%=cateogry%></a>
                                                                        </li>
                                                                        <%}) %>
                                                            </ul>
                                                        </div>
                                                        <div>
                                                            <button id="moreOrLess" onclick='showMoreCateogries()' class="more-button">More <i class="fas fa-angle-right"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="sidebar-item social-sidebar">
                                                        <div class="title">
                                                            <h4>follow us</h4>
                                                        </div>
                                                        <div class="sidebar-info">
                                                            <ul>
                                                                <li class="facebook">
                                                                    <a href="#">
                                                                        <i class="fab fa-facebook-f"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="twitter">
                                                                    <a href="#">
                                                                        <i class="fab fa-twitter"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="pinterest">
                                                                    <a href="#">
                                                                        <i class="fab fa-pinterest"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="linkedin">
                                                                    <a href="#">
                                                                        <i class="fab fa-linkedin-in"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="sidebar-item tags">
                                                        <div class="title">
                                                            <h4>tags</h4>
                                                        </div>
                                                        <div class="sidebar-info">
                                                            <ul>
                                                                <% if(typeof tags!=='undefined' && tags && tags.length>0){%>
                                                                    <% shuffle(tags).forEach((tag)=>{%>
                                                                        <li>
                                                                            <a href="/tags/<%=tag%>">
                                                                                <%=tag%>
                                                                            </a>
                                                                        </li>
                                                                        <%}) %>
                                                                            <%} %>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </aside>
                                            </div>
                                            <!-- End Start Sidebar -->
                                            <div class="blog-content wow fadeInUp col-lg-9 col-md-12" style="visibility: visible; animation-name: fadeInUp;">
                                                <div class="sidebar search-padding" style="visibility: visible; animation-name: fadeInLeft;">
                                                    <aside>
                                                        <div class="sidebar-item search">
                                                            <div class="sidebar-info">
                                                                <form action="/experts" method="POST">
                                                                    <input type="text" name="consultantType" class="form-control">
                                                                    <button type="submit"><i class="fas fa-search"></i></button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </aside>
                                                </div>
                                                <div class="team-single-area detail-padding">
                                                    <div class="container">
                                                        <div class="team-content-top ">
                                                            <% if(typeof doctors!=='undefined' && doctors && doctors.length>0){%>
                                                                <% doctors.forEach((doctor)=>{%>
                                                                    <% if(typeof doctor.doctor!=="undefined"){%>
                                                                        <div class="row mb-5">
                                                                            <div class="col-lg-4 left-info">
                                                                                <div class="thumb">
                                                                                    <img src="/profile/<%= doctor.display_picture %>" alt="Thumb">
                                                                                </div>
                                                                                <div class="right-info">
                                                                                    <span class="d-block"><%= doctor.doctor.specializations[0] %></span>
                                                                                    <span class="d-block"><i class="fas fa-graduation-cap"></i> <%= doctor.doctor.qualifications[0] %> </span>
                                                                                    <span class="d-block"><i class="fas fa-medal"></i> <%= doctor.doctor.achievements[0] %></span>
                                                                                    <span class="d-block"><i class="fas fa-map-marker-alt"></i> <%= doctor.location %></span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-8 right-info">
                                                                                <a href="/getSlots/<%=doctor._id%>">
                                                                                    <h2>
                                                                                        <%=doctor.name%>
                                                                                    </h2>
                                                                                </a>
                                                                                <span><%= doctor.doctor.experience %> Years of Experience</span>
                                                                                <% if(doctor.doctor.rating && doctor.doctor.noOfRatings){%>
                                                                                    <div class="d-flex flex-row align-items-center">
                                                                                        <span class="mr-1"><%=Math.floor((doctor.doctor.rating/doctor.doctor.noOfRatings)/5*(10*10))/20 %></span>
                                                                                        <span style="color:rgb(110,51,159)" style="color:rgb(110,51,159)" class="fa fa-star <%= parseInt(doctor.doctor.rating/doctor.doctor.noOfRatings)>0?'checked':'vanish' %>"></span>
                                                                                        <span style="color:rgb(110,51,159)" class="fa fa-star <%= parseInt(doctor.doctor.rating/doctor.doctor.noOfRatings)>1?'checked':'vanish' %>"></span>
                                                                                        <span style="color:rgb(110,51,159)" class="fa fa-star <%= parseInt(doctor.doctor.rating/doctor.doctor.noOfRatings)>2?'checked':'vanish' %>"></span>
                                                                                        <span style="color:rgb(110,51,159)" class="fa fa-star <%= parseInt(doctor.doctor.rating/doctor.doctor.noOfRatings)>3?'checked':'vanish' %>"></span>
                                                                                        <span style="color:rgb(110,51,159)" class="fa fa-star <%= parseInt(doctor.doctor.rating/doctor.doctor.noOfRatings)>4?'checked':'vanish' %>"></span>
                                                                                    </div>
                                                                                    <div>
                                                                                        <% if(doctor.doctor.rating && doctor.doctor.noOfRatings){%>
                                                                                            <span style="color:rgb(110,51,159)"><%=Math.ceil((doctor.doctor.rating/doctor.doctor.noOfRatings)/5*(10*10))%>% of <%=doctor.name%>'s clients liked <%= doctor.gender=='Male'?'him':'' %><%= doctor.gender=="Female"?'her':'' %><%= doctor.gender=="Other"?'them':'' %></span>
                                                                                            <%}%>
                                                                                    </div>

                                                                                    <%}else{%>
                                                                                        <b class="d-block text-start">Not rated by anyone yet</b>
                                                                                        <%} %>
                                                                                            <span class="d-block">charges
                                                                                                    <%=doctor.doctor.avg_fees%> INR on an average</p>
                                                                                            <span>
                                                                        <!-- Button trigger modal -->
                                                                        <button style="margin-top:-10px;" type="button" class="btn btn-gradient effect" data-toggle="modal" data-target="#exampleModalCenter">
                                                                            Services
                                                                        </button>
                                                                        
                                                                        <!-- Modal -->
                                                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-body">
                                                                                        <table class="table table-striped">
                                                                                            <thead>
                                                                                              <tr>
                                                                                                <th scope="col">#</th>
                                                                                                <th scope="col">Service</th>
                                                                                                <th scope="col">Charge</th>
                                                                                              </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                             <%if(doctor.doctor.rates.length>0){%>
                                                                                                <%console.log("listing services: ",doctor.doctor.rates)%>
                                                                                                <%doctor.doctor.rates.forEach((item,index)=>{%>
                                                                                                    <tr>
                                                                                                        <%console.log("listing: ",item)%>
                                                                                                        <th scope="row"><%=index%></th>
                                                                                                        <td><%=item.service%></td>
                                                                                                        <td><%=item.charge%>></td>
                                                                                                    </tr>
                                                                                                  <%})%>
                                                                                             <%}else{%>
    
                                                                                             <%}%>
                                                                                            </tbody>
                                                                                          </table>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                        <p>
                                                            <%= doctor.doctor.description %>
                                                        </p>
                                                        <ul>
                                                            <li>
                                                                <strong>Email:</strong>
                                                                <a href="mailto:<%=typeof user!==" undefined " && user?doctor.email:'' %>">
                                                                    <%= typeof user!=="undefined" && user?doctor.email:'Login to access this info' %>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <strong>Phone:</strong>
                                                                <a href="tel:<%= typeof user!==" undefined " && user?doctor.phoneNumber:'' %>">
                                                                    <%= typeof user!=="undefined" && user?doctor.phoneNumber:'Login to access this info' %>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <div class="social">
                                                            <a class="btn btn-gradient effect btn-sm" href="/getSlots/<%=doctor._id%>">Book An Appointment</a>
                                                            <div class="share-link">
                                                                <i class="fas fa-share-alt"></i>
                                                                <ul>
                                                                    <li class="facebook">
                                                                        <a href="#">
                                                                            <i class="fab fa-facebook-f"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="twitter">
                                                                        <a href="#">
                                                                            <i class="fab fa-twitter"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="youtube">
                                                                        <a href="#">
                                                                            <i class="fab fa-youtube"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                                    <%} %>
                                            <% }) %>
                                                <%}else{%>
                                                    <b class="d-flex justify-content-center">
                                                                                No experts were found that matched your query
                                                                            </b>
                                                    <%} %>
                                        </div>
                                    </div>
                                </div>
                            </div>
    </div>
    </div>
    </div>
    </div>
    <!-- End Blog -->

    <!-- Start Footer 
        ============================================= -->
    <footer class="bg-dark text-light">
        <div class="container">
            <div class="f-items default-padding">
                <div class="row">
                    <div class="col-lg-4 col-md-6 item">
                        <div class="f-item about">
                            <img src="/assets/img/logo.png" alt="Logo">
                            <p>
                                Excellence decisively nay man yet impression for contrasted remarkably. There spoke happy for you are out. Fertile how old address did showing.
                            </p>
                            <form action="#">
                                <input type="email" placeholder="Your Email" class="form-control" name="email">
                                <button type="submit"> <i class="arrow_right"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Quick LInk</h4>
                            <ul>
                                <li>
                                    <a href="index.html"><i class="fas fa-angle-right"></i> Home</a>
                                </li>
                                <li>
                                    <a href="about-us.html"><i class="fas fa-angle-right"></i> About us</a>
                                </li>
                                <li>
                                    <a href="about-us.html"><i class="fas fa-angle-right"></i> Compnay History</a>
                                </li>
                                <li>
                                    <a href="about-us.html"><i class="fas fa-angle-right"></i> Features</a>
                                </li>
                                <li>
                                    <a href="blog-with-sidebar.html"><i class="fas fa-angle-right"></i> Blog Page</a>
                                </li>
                                <li>
                                    <a href="about-us.html"><i class="fas fa-angle-right"></i> Login</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Community</h4>
                            <ul>
                                <li>
                                    <a href="about-us.html"><i class="fas fa-angle-right"></i> Career</a>
                                </li>
                                <li>
                                    <a href="about-us.html"><i class="fas fa-angle-right"></i> Leadership</a>
                                </li>
                                <li>
                                    <a href="about-us.html"><i class="fas fa-angle-right"></i> Strategy</a>
                                </li>
                                <li>
                                    <a href="services.html"><i class="fas fa-angle-right"></i> Services</a>
                                </li>
                                <li>
                                    <a href="about-us.html"><i class="fas fa-angle-right"></i> History</a>
                                </li>
                                <li>
                                    <a href="about-us.html"><i class="fas fa-angle-right"></i> Components</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="f-item contact-widget">
                            <h4 class="widget-title">Contact Info</h4>
                            <div class="address">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-home"></i>
                                        </div>
                                        <div class="content">
                                            <strong>Address:</strong> 5919 Trussville Crossings Pkwy, Birmingham
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="content">
                                            <strong>Email:</strong>
                                            <a href="mailto:info@validtheme.com">info@validtheme.com</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                        <div class="content">
                                            <strong>Phone:</strong>
                                            <a href="tel:2151234567">+123 34598768</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-box">
                    <div class="row">
                        <div class="col-lg-6">
                            <p> Copyright 2021. All Rights Reserved by <a href="#">validthemes</a></p>
                        </div>
                        <div class="col-lg-6 text-right link">
                            <ul>
                                <li>
                                    <a href="about-us.html">Terms</a>
                                </li>
                                <li>
                                    <a href="about-us.html">Privacy</a>
                                </li>
                                <li>
                                    <a href="about-us.html">Support</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->

    <!-- jQuery Frameworks
        ============================================= -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/modernizr.custom.13711.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/progress-bar.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/count-to.js"></script>
    <script src="assets/js/YTPlayer.min.js"></script>
    <script src="assets/js/bootsnav.js"></script>
    <script src="assets/js/main.js"></script>


    </div>
</body>
<script>
    function takeMeToCateogry(button) {
        window.location = `/cateogries/${button.dataset.cateogry}`;
    }

    function showMoreCateogries() {
        var cateogries = document.getElementsByClassName('cateogryItem');
        cateogries = Array.from(cateogries);
        document.getElementById('moreOrLess').innerHTML === 'Less' ? document.getElementById('moreOrLess').innerHTML = 'More <i class="fas fa-angle-right">' : document.getElementById('moreOrLess').innerHTML = 'Less';
        for (i = 0; i < cateogries.length; i++) {
            if (document.getElementById(`cateogryItem${i}`).classList.contains('d-none')) {
                document.getElementById(`cateogryItem${i}`).classList.remove('d-none')
            } else {
                i > 3 ? document.getElementById(`cateogryItem${i}`).classList.add('d-none') : ''
            }
        }
    }

    function filter() {
        document.getElementById("filter").submit();
    }
</script>

</html>