<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Earna - Consulting Business Template">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- ========== Page Title ========== -->
    <title>Bollify - Consulting Agency</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon">
    <!-- ========== Start Stylesheet ========== -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/themify-icons.css" rel="stylesheet" />
    <link href="/assets/css/elegant-icons.css" rel="stylesheet" />
    <link href="/assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.css" rel="stylesheet" />
    <link href="/assets/css/bootsnav.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->
</head>

<body style="padding-top:145px">
    <% if(typeof user=='undefined'|| !user ){ %>
        <header id="home">

            <div class="container box-nav">
                <div class="row">
                    <!-- Start Navigation -->
                    <nav class="navbar top-less navbar-default navbar-fixed dark bootsnav on no-full nav-box no-background" id="navbar">

                        <!-- Start Top Search -->
                        <div class="top-search">
                            <div class="container">
                                <div class="input-group d-flex flex-row">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                    <form action="/experts" method="POST">
                                        <input type="text" name="consultantType" class="form-control" placeholder="expert in...">
                                        <input type="text" name="location" class="form-control" placeholder="Location">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </form> <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <!-- End Top Search -->
                        <div class="container nav-container">

                            <!-- Start Atribute Navigation -->
                            <div class="attr-nav">
                                <ul>
                                    <li class="search"><a href="#"><i class="ti-search"></i></a></li>
                                    <li class="side-menu">
                                        <a href="#">
                                            <span class="bar-1"></span>
                                            <span class="bar-2"></span>
                                            <span class="bar-3"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Atribute Navigation -->

                            <!-- Start Header Navigation -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a class="navbar-brand" href="/">
                                    <img src=".././assets/img/logo.png" class="logo" alt="Logo">
                                </a>
                            </div>
                            <!-- End Header Navigation -->

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="navbar-menu">
                                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                    <li class="">
                                        <a href="/" class="dropdown-toggle active" data-toggle="dropdown">Home</a>
                                    </li>

                                    <li class="">
                                        <a href="/experts" class="dropdown-toggle" data-toggle="dropdown">Experts</a>
                                    </li>
                                    <li class="">
                                        <a href="/about" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
                                    </li>
                                    <li class="">
                                        <a href="/contact-us" class="dropdown-toggle" data-toggle="dropdown">Contact Us</a>
                                    </li>
                                    <li class="">
                                        <a href="/email-login" class="dropdown-toggle" data-toggle="dropdown">Login</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>

                        <!-- Start Side Menu -->
                        <div class="side">
                            <a href="#" class="close-side"><i class="icon_close"></i></a>
                            <div class="widget">
                                <img style="width:80px; height:100px" src="/assets/img/logo.png" alt="Logo">
                                <p>
                                    Arrived compass prepare an on as. Reasonable particular on my it in sympathize. Size now easy eat hand how. Unwilling he departure elsewhere dejection at. Heart large seems may purse means few blind.
                                </p>
                            </div>
                            <div class="widget address">
                                <div>
                                    <ul>
                                        <li>
                                            <div class="content">
                                                <p>Address</p>
                                                <strong>California, TX 70240</strong>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="content">
                                                <p>Email</p>
                                                <strong>support@solvent.com</strong>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="content">
                                                <p>Contact</p>
                                                <strong>+44-20-7328-4499</strong>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget newsletter">
                                <h4 class="title">Get Subscribed!</h4>
                                <form action="#">
                                    <div class="input-group stylish-input-group">
                                        <input type="email" placeholder="Enter your e-mail" class="form-control" name="email">
                                        <span class="input-group-addon">
                                            <button type="submit">
                                                <i class="arrow_right"></i>
                                            </button>  
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <div class="widget social">
                                <ul class="link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Side Menu -->
                    </nav>
                    <!-- End Navigation -->
                </div>
            </div>

        </header>
        <% }else if(typeof user !== 'undefined' && user.role==='user'){ %>
            <header id="home">

                <div class="container box-nav">
                    <div class="row">
                        <!-- Start Navigation -->
                        <nav class="navbar top-less navbar-default navbar-fixed dark bootsnav on no-full nav-box no-background" id="navbar">

                            <!-- Start Top Search -->
                            <div class="top-search">
                                <div class="container">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <form action="/experts" method="POST">
                                            <input type="text" name="consultantType" class="form-control" placeholder="expert in...">
                                            <input type="text" name="location" class="form-control" placeholder="Location">
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </form> <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Top Search -->

                            <div class="container nav-container">

                                <!-- Start Atribute Navigation -->
                                <div class="attr-nav">
                                    <ul>
                                        <li class="search"><a href="#"><i class="ti-search"></i></a></li>
                                        <li class="side-menu">
                                            <a href="#">
                                                <span class="bar-1"></span>
                                                <span class="bar-2"></span>
                                                <span class="bar-3"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Atribute Navigation -->

                                <!-- Start Header Navigation -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                    <i class="fa fa-bars"></i>
                                </button>
                                    <a class="navbar-brand" href="/">
                                        <img src="/assets/img/logo.png" class="logo" alt="Logo">
                                    </a>
                                </div>
                                <!-- End Header Navigation -->

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="navbar-menu">
                                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                        <li class="">
                                            <a href="/" class="dropdown-toggle active" data-toggle="dropdown">Home</a>
                                        </li>
                                        <li class="">
                                            <a href="/experts" class="dropdown-toggle" data-toggle="dropdown">Experts</a>
                                        </li>
                                        <li class="">
                                            <a href="/about" class="dropdown-toggle" data-toggle="dropdown">About</a>
                                        </li>
                                        <li class="">
                                            <a href="/user-dashboard-appointments" class="dropdown-toggle" data-toggle="dropdown">My appointments</a>
                                        </li>
                                        <li class="">
                                            <a href="/settings" class="dropdown-toggle" data-toggle="dropdown">Settings</a>
                                        </li>
                                        <li class="">
                                            <a href="/contact-us" class="dropdown-toggle" data-toggle="dropdown">Contact Us</a>
                                        </li>
                                        <li class="">
                                            <a href="/user-profile" class="dropdown-toggle" data-toggle="dropdown">Profile</a>
                                        </li>
                                        <li class="">
                                            <a href="/logout" class="dropdown-toggle" data-toggle="dropdown">Logout</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.navbar-collapse -->
                            </div>

                            <!-- Start Side Menu -->
                            <div class="side">
                                <a href="#" class="close-side"><i class="icon_close"></i></a>
                                <div class="widget">
                                    <img style="width:80px; height:100px" src="/assets/img/logo.png" alt="Logo">
                                    <p>
                                        Arrived compass prepare an on as. Reasonable particular on my it in sympathize. Size now easy eat hand how. Unwilling he departure elsewhere dejection at. Heart large seems may purse means few blind.
                                    </p>
                                </div>
                                <div class="widget address">
                                    <div>
                                        <ul>
                                            <li>
                                                <div class="content">
                                                    <p>Address</p>
                                                    <strong>California, TX 70240</strong>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="content">
                                                    <p>Email</p>
                                                    <strong>support@solvent.com</strong>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="content">
                                                    <p>Contact</p>
                                                    <strong>+44-20-7328-4499</strong>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="widget newsletter">
                                    <h4 class="title">Get Subscribed!</h4>
                                    <form action="#">
                                        <div class="input-group stylish-input-group">
                                            <input type="email" placeholder="Enter your e-mail" class="form-control" name="email">
                                            <span class="input-group-addon">
                                            <button type="submit">
                                                <i class="arrow_right"></i>
                                            </button>  
                                        </span>
                                        </div>
                                    </form>
                                </div>
                                <div class="widget social">
                                    <ul class="link">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Side Menu -->
                        </nav>
                        <!-- End Navigation -->
                    </div>
                </div>

            </header>
            <% }else if(typeof user !=='undefined' && user.role==='doctor'){ %>
                <header id="home">

                    <div class="container box-nav">
                        <div class="row">
                            <!-- Start Navigation -->
                            <nav class="navbar top-less navbar-default navbar-fixed dark bootsnav on no-full nav-box no-background" id="navbar">

                                <!-- Start Top Search -->
                                <div class="top-search">
                                    <div class="container">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            <form action="/experts" method="POST">
                                                <input type="text" name="consultantType" class="form-control" placeholder="expert in...">
                                                <input type="text" name="location" class="form-control" placeholder="Location">
                                                <button type="submit" class="btn btn-success">Submit</button>
                                            </form> <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Top Search -->

                                <div class="container nav-container">

                                    <!-- Start Atribute Navigation -->
                                    <div class="attr-nav">
                                        <ul>
                                            <li class="search"><a href="#"><i class="ti-search"></i></a></li>
                                            <li class="side-menu">
                                                <a href="#">
                                                    <span class="bar-1"></span>
                                                    <span class="bar-2"></span>
                                                    <span class="bar-3"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End Atribute Navigation -->

                                    <!-- Start Header Navigation -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                    <i class="fa fa-bars"></i>
                                </button>
                                        <a class="navbar-brand" href="/">
                                            <img src="../assets/img/logo.png" class="logo" alt="Logo">
                                        </a>
                                    </div>
                                    <!-- End Header Navigation -->

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse" id="navbar-menu">
                                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                            <li class="">
                                                <a href="/edit-profile-expert" class="dropdown-toggle" data-toggle="dropdown">Profile</a>
                                            </li>
                                            <li class="">
                                                <a href="/experts" class="dropdown-toggle" data-toggle="dropdown">Experts</a>
                                            </li>
                                            <li class="">
                                                <a href="/expert-dashboard" class="dropdown-toggle" data-toggle="dropdown">Appointments</a>
                                            </li>
                                            <li class="">
                                                <a href="/schedule-appointment" class="dropdown-toggle" data-toggle="dropdown">Schedule appointments</a>
                                            </li>
                                            <li class="">
                                                <a href="/settings" class="dropdown-toggle" data-toggle="dropdown">Settings</a>
                                            </li>
                                            <li class="">
                                                <a href="/contact-us" class="dropdown-toggle" data-toggle="dropdown">Contact Us</a>
                                            </li>
                                            <li class="">
                                                <a href="/logout" class="dropdown-toggle" data-toggle="dropdown">Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.navbar-collapse -->
                                </div>

                                <!-- Start Side Menu -->
                                <div class="side">
                                    <a href="#" class="close-side"><i class="icon_close"></i></a>
                                    <div class="widget">
                                        <img style="width:80px; height:100px" src="/assets/img/logo.png" alt="Logo">
                                        <p>
                                            Arrived compass prepare an on as. Reasonable particular on my it in sympathize. Size now easy eat hand how. Unwilling he departure elsewhere dejection at. Heart large seems may purse means few blind.
                                        </p>
                                    </div>
                                    <div class="widget address">
                                        <div>
                                            <ul>
                                                <li>
                                                    <div class="content">
                                                        <p>Address</p>
                                                        <strong>California, TX 70240</strong>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="content">
                                                        <p>Email</p>
                                                        <strong>support@solvent.com</strong>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="content">
                                                        <p>Contact</p>
                                                        <strong>+44-20-7328-4499</strong>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="widget newsletter">
                                        <h4 class="title">Get Subscribed!</h4>
                                        <form action="#">
                                            <div class="input-group stylish-input-group">
                                                <input type="email" placeholder="Enter your e-mail" class="form-control" name="email">
                                                <span class="input-group-addon">
                                            <button type="submit">
                                                <i class="arrow_right"></i>
                                            </button>  
                                        </span>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="widget social">
                                        <ul class="link">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Side Menu -->
                            </nav>
                            <!-- End Navigation -->
                        </div>
                    </div>

                </header>
                <% }else if(typeof user !=='undefined' && user.role==='admin'){%>
                    <header id="home">

                        <div class="container box-nav">
                            <div class="row">
                                <!-- Start Navigation -->
                                <nav class="navbar top-less navbar-default navbar-fixed dark bootsnav on no-full nav-box no-background" id="navbar">

                                    <!-- Start Top Search -->
                                    <div class="top-search">
                                        <div class="container">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                <input type="text" class="form-control" placeholder="Search">
                                                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Top Search -->

                                    <div class="container nav-container">

                                        <!-- Start Atribute Navigation -->
                                        <div class="attr-nav">
                                            <ul>
                                                <li class="search"><a href="#"><i class="ti-search"></i></a></li>
                                                <li class="side-menu">
                                                    <a href="#">
                                                        <span class="bar-1"></span>
                                                        <span class="bar-2"></span>
                                                        <span class="bar-3"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- End Atribute Navigation -->

                                        <!-- Start Header Navigation -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                            <a class="navbar-brand" href="/">
                                                <img src="/assets/img/logo.png" class="logo" alt="Logo">
                                            </a>
                                        </div>
                                        <!-- End Header Navigation -->

                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse" id="navbar-menu">
                                            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                                <li class="">
                                                    <a href="/admin" class="dropdown-toggle active" data-toggle="dropdown">Appointments</a>
                                                </li>
                                                <li class="">
                                                    <a href="/admin-experts" class="dropdown-toggle active" data-toggle="dropdown">Consultants</a>
                                                </li>
                                                <li class="">
                                                    <a href="/admin-users" class="dropdown-toggle active" data-toggle="dropdown">Users</a>
                                                </li>
                                                <li class="">
                                                    <a href="/addCateogry" class="dropdown-toggle active" data-toggle="dropdown">Cateogries</a>
                                                </li>
                                                <li class="">
                                                    <a href="/settings" class="dropdown-toggle active" data-toggle="dropdown">Settings</a>
                                                </li>
                                                <li class="">
                                                    <a href="/logout" class="dropdown-toggle active" data-toggle="dropdown">Logout</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- /.navbar-collapse -->
                                    </div>

                                    <!-- Start Side Menu -->
                                    <div class="side">
                                        <a href="#" class="close-side"><i class="icon_close"></i></a>
                                        <div class="widget">
                                            <img style="width:80px; height:100px" src="/assets/img/logo.png" alt="Logo">
                                            <p>
                                                Arrived compass prepare an on as. Reasonable particular on my it in sympathize. Size now easy eat hand how. Unwilling he departure elsewhere dejection at. Heart large seems may purse means few blind.
                                            </p>
                                        </div>
                                        <div class="widget address">
                                            <div>
                                                <ul>
                                                    <li>
                                                        <div class="content">
                                                            <p>Address</p>
                                                            <strong>California, TX 70240</strong>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="content">
                                                            <p>Email</p>
                                                            <strong>support@solvent.com</strong>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="content">
                                                            <p>Contact</p>
                                                            <strong>+44-20-7328-4499</strong>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="widget newsletter">
                                            <h4 class="title">Get Subscribed!</h4>
                                            <form action="#">
                                                <div class="input-group stylish-input-group">
                                                    <input type="email" placeholder="Enter your e-mail" class="form-control" name="email">
                                                    <span class="input-group-addon">
                                                <button type="submit">
                                                    <i class="arrow_right"></i>
                                                </button>  
                                            </span>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="widget social">
                                            <ul class="link">
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End Side Menu -->
                                </nav>
                                <!-- End Navigation -->
                            </div>
                        </div>

                    </header>
                    <% } %>
                        <div class="container default-padding">
                            <div class="job-lists">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Single Item -->
                                        <% if(typeof appointments!=='undefined' && appointments.length>0){%>
                                            <% appointments.forEach((appointment)=>{%>
                                                <% var chosenSlot=slots.filter((slot)=>{if(slot._id.toString()==appointment.slot.toString()){console.log('found appointment slot: ',slot)}; return slot._id.toString()==appointment.slot.toString()}) %>
                                                    <% chosenSlot=chosenSlot[0] %>
                                                        <% var chosenDoctor=doctors.filter((doctor)=>{return doctor._id.toString()==appointment.user.toString()}) %>
                                                            <% chosenDoctor=chosenDoctor[0] %>
                                                                <div class="item">
                                                                    <div class="info">
                                                                        <h4>
                                                                            <%= chosenDoctor.name %><span class="badge"><%= appointment.status=='Cancelled'?'Cancelled':appointment.appointmentDate<Date.now()?'Past':'Upcoming' %> Appointment</span></h4>
                                                                        <ul>
                                                                            <li>Time:
                                                                                <%= appointment.appointmentDate.toLocaleDateString()%>,
                                                                                    <%=chosenSlot.startTime%> -
                                                                                        <%=chosenSlot.endTime%>
                                                                            </li>
                                                                            <li>Appointment ID:
                                                                                <%= appointment._id%>
                                                                            </li>
                                                                            <% if(appointment.status!='Cancelled' && appointment.appointmentDate>Date.now()){%>
                                                                                <div class="d-flex flex-row justify-content-start align-items-center">
                                                                                    <a href="/reschedule-appointment/<%= appointment._id %>" class="btn mr-3 btn-primary btn-small">
                                                                    Reschedule
                                                                </a>
                                                                                    <div class="d-flex flex-row justify-content-center">

                                                                                        <button type="button" onclick="cancelAppointment('<%= appointment._id %>')" class="mr-1 appointment_booked--options appointment_booked--cancel btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-appointment="<%= appointment._id %>">
                                                                    Cancel
                                                                  </button>
                                                                                    </div>
                                                                                </div>
                                                                                <%} %>

                                                                        </ul>
                                                                    </div>

                                                                </div>
                                                                <%}) %>
                                                                    <%}else{%>
                                                                        <b class="text-center mt-5">No appointments yet</b>
                                                                        <%} %>
                                    </div>
                                </div>

                            </div>
                        </div>


</body>
<script>
    async function cancelAppointment(appointment) {
        var confirmation = prompt(`type 'yes' if you want to cancel appointment with appoinment ID ${appointment}`);
        if (confirmation === "yes") {
            const res = await fetch(`/appointment-cancel/${appointment}`, {
                method: 'POST'
            });
            alert('Appointment cancelled');
            window.location = "/expert-dashboard";
        } else {
            alert('Cancellation aborted')
        }
    }
</script>

</html>